@tailwind base;
@tailwind components;
@tailwind utilities;

.react-palette .react-colorful {
  width: 95%;
  height: 78px;
}
.react-palette .react-colorful__hue {
  height: 8px;
}

.react-palette .react-colorful__saturation-pointer {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.react-palette .react-colorful__hue-pointer,
.custom-pointers .react-colorful__alpha-pointer {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
  }
}
